<div class="row nav">
  <div class="row-same-height">
    <div class="col-xs-3 col-xs-height col-full-height">
      <div>
        <%= image_tag 'logo_buzon_legal.png', style: 'width:40px;' %>
        <a href="/" class="logo2"><h1>BuzonLegal</h1></a>
      </div>

    </div>
    <div class="col-xs-5 col-xs-height col-full-height">
      <form method="get" action="resultados">
        <div class="input-group">
          <input name="q" placeholder="ingresa # de caso o tu nombre" type="text" class="form-control" >
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Buscar</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
