<div class="inner-wrapper">
  <%= link_to "Regresar al inicio", root_path, class: "btn btn-primary" %>
  <h1>¿Qué es Buzón Legal?</h1>
  <p> Buzón Legal es una iniciativa ciudadana que busca el proveer una interfaz amigable e intuitiva para accesar a los diferentes boletines judiciales del país de forma sencilla y rápida. Esto con el objetivo de hacer más eficiente este proceso y facilitarle la vida a quien lo necesite. </p>
</div>
