<div class="inner-wrapper">
  <%= link_to "Regresar al inicio", root_path, class: "btn btn-primary" %>
  <h1>Preguntas frecuentes</h1>

  <h3>¿Qué es BuzonLegal?</h3>
  <p> Un servicio para accesar a los diferentes boletines judiciales del país de forma sencilla y rápida.</p>

  <h3>¿El servicio tiene costo?</h3>
  <p> El servicio no tiene costo. Sera gratuito mientras continuemos en version beta.</p>

  <h3>¿Cuantas busquedas puedo realizar?</h3>
  <p>Por el momento, busquedas ilimitadas.</p>

  <h3>¿Para quien es este servicio?</h3>
  <p>Abogados, Empresarios, Arrendadores, etc.  BuzonLegal te ayuda a minimizar tus riesgos al contratar una persona y buscar si no ha tenido juicios criminales o mercantiles. Le ayuda a rentar/comprar una propiedad y asegurarte que no se encuentre bajo litigio.</p>
</div>
