<div class="row vertical-center-row">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-5">
      <h1>BuzonLegal</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <form method="get" action="resultados">
        <div class="input-group">
          <input name="q" placeholder="Ingresa # de caso o tu nombre" type="text" class="form-control" >
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Buscar</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-xs-6 col-xs-offset-3 advanced-link">
      <a href="advanced">Busqueda avanzada</a>
    </div>
  </div>
</div>
