<div class="inner-wrapper">
  <h1>Términos y Condiciones</h1>
  <p>Por favor antes de ingresar a este sitio lea cuidadosamente las instrucciones.</p>
  <p>El ingreso a este sitio supone aceptar las condiciones aquí indicadas, en caso de los contrario usted debe de abandonar este sitio inmediatamente.</p>
  <p>Restricciones:</p>
  <ul>
    <li>Los materiales y servicios entregados en este sitio web aparecen “como son”, sin garantía de ningún tipo.</li>
    <li>buzonlegal.org tampoco garantiza la exactitud de los materiales o servicios de este sitio.</li>
    <li>A si mismo buzonlegal.org se reserva el derecho de modificar los contenidos y servicios de este sitio o de los productos y precios descritos, en cualquier momento y sin previo aviso.</li>
    <li>Los materiales y servicios en este sitio pueden estar o no actualizados, sin que ellos signifiquen un compromiso para buzonlegal.org.</li>
  </ul>
  <p>Limitaciones de responsabilidad:</p>
  <ul>
    <li>En ningún caso buzonlegal.org, sus proveedores o terceros mencionados en este sitio serán responsables por ningún daño (incluyendo, sin limitación aquellos resultantes por la perdida de ganancias, perdida de datos o interrupción de negocios) causado por la imposibilidad de acceso.</li>
    <li>El uso o los resultado de este sitio web o cualquier otro sitio web relacionado o el material/información o servicios contenidos en alguno o todos estos sitios, basado o no en la garantía contrato, incumplimiento de contrato o cualquier otro uso legal, avisado o no de las posibilidades de tales daños.</li>
    <li>Si el uso del material, información o servicios provisto por este sitio resulta de la necesidad de reparar o corregir equipos o datos.</li>
    <li>El costo de dicha reparación es exclusiva responsabilidad del usuario.</li>
  </ul>
</div>
