<div class="row">
  <div class="row-same-height">
    <div class="col-xs-3 col-xs-height col-full-height">
      <h1>BuzonLegal</h1>
    </div>
    <div class="col-xs-5 col-xs-height col-full-height">
      <form>
        <div class="input-group">
          <input placeholder="ingresa # de caso o tu nombre" type="text" class="form-control" >
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Buscar</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Start results -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lorem Ipsum</h3>
      </div>
      <div class="panel-body">
        dolor sit amet, consectetur adipiscing elit. Nam quam tortor, scelerisque a ipsum non, sodales maximus erat. Nunc fermentum elit sit amet metus ultricies, quis aliquam metus vulputate.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lorem Ipsum</h3>
      </div>
      <div class="panel-body">
        dolor sit amet, consectetur adipiscing elit. Nam quam tortor, scelerisque a ipsum non, sodales maximus erat. Nunc fermentum elit sit amet metus ultricies, quis aliquam metus vulputate.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lorem Ipsum</h3>
      </div>
      <div class="panel-body">
        dolor sit amet, consectetur adipiscing elit. Nam quam tortor, scelerisque a ipsum non, sodales maximus erat. Nunc fermentum elit sit amet metus ultricies, quis aliquam metus vulputate.
      </div>
    </div>
  </div>
</div>
