<div class="row">
  <div class="row-same-height">
    <div class="col-xs-3 col-xs-height col-full-height">
      <a href="/" class="logo2"><h1>BuzonLegal</h1></a>
    </div>
    <div class="col-xs-5 col-xs-height col-full-height">
      <form>
        <div class="input-group">
          <input placeholder="ingresa # de caso o tu nombre" type="text" class="form-control" >
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Buscar</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Start results -->
<div class="row">
  <div class="col-xs-12">
    <h3>Resultado de acuerdos</h3>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
<table class="table table-striped">
  <thead>
          <tr>
            <th>#</th>
            <th>Expediente</th>
            <th>Actor</th>
            <th>Demandado</th>
            <th>Acuerdo</th>
          </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>251/2006</td>
      <td>BERTHA ALICIA LOPEZ</td>
      <td>GUADALUPE VAZQUEZ DERAS</td>
      <td>BERTHA ALICIA LOPEZ. VS GUADALUPE VAZQUEZ DERAS., ORD CIVIL, ACDO</td>
    </tr>


      <tr>
        <td>2</td>
        <td>5/2013</td>
        <td>MARIO LOPEZ</td>
        <td>VALDEZ URIA</td>
        <td>MARIO LOPEZ. VS VALDEZ URIA., ORD CIVIL, ACDO</td>
      </tr>


        <tr>
          <td>3</td>
          <td>914/2008</td>
          <td>COLEGIO MEDICO DE TIJUANA</td>
          <td>JOSE DE JESUS CLARK FLORES</td>
          <td>COLEGIO MEDICO DE TIJUANA VS JOSE DE JESUS CLARK FLORES ORD. CIVIL, ACDO</td>
        </tr>
  </tbody>
</table>
</div>
</div>

<table>
  <thead>

  </thead>
</table>
