// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body,
.container {
  height: 95%;
}

h1 {
  font-family: 'Georgia';
}

title-main {
  font-size: 2vw;
}

.container {
  display: table;
  vertical-align: middle;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

// columns of same height styles

.row-full-height {
  height: 100%;
}

.col-full-height {
  height: 100%;
  vertical-align: middle;
}

.row-same-height {
  display: table;
  width: 100%;
  // fix overflow
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

// vertical alignment styles

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

.advanced-link{
  padding-top: 10px;
  text-align: right;
}

.advanced-options{
  font-size: 18px;
  padding-bottom: 20px;
  padding-left: 0;
}
.logo2{
  color: black;
  text-decoration: none;
  h1 {
    display: inline;
    font-size: 2rem;
  }
}

footer {
  font-size: 14px;
  height: 5%;
  text-align: center;
}

.inner-wrapper {
  margin-bottom: 2em;
  margin-top: 2em;
}

.check-icon {
  color: green;
}

.cross-icon {
  color: red;
}

.icon-description {
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 50%;
}

.status-icon {
  margin-bottom: 10px;
  margin-top: 20px;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.status-container {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 8px;
}

.log {
  border-bottom: 1px solid rgba(10, 10, 10, .1);
  margin: 10px;
  padding: 5px;
}
