// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body,
.container {
  height: 95%;
}

.container {
  display: table;
  vertical-align: middle;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

// columns of same height styles

.row-full-height {
  height: 100%;
}

.col-full-height {
  height: 100%;
  vertical-align: middle;
}

.row-same-height {
  display: table;
  width: 100%;
  // fix overflow
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

// vertical alignment styles

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

.advanced-link{
  text-align: right;
  padding-top:10px;
}

.advanced-options{
  padding-left:0;
  padding-bottom:20px;
  font-size:18px;
}
.logo2{
  text-decoration:none;
  color:black;
}

footer {
  font-size: 14px;
  text-align: center;
  height: 5%;
}

.inner-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}

.check-icon {
  color: green;
}

.cross-icon {
  color: red;
}

.icon-description {
  width: 50%;
  text-align: center;
  float: left;
  margin-top: 10px;
}

.status-icon {
  margin-top: 20px;
  margin-bottom: 10px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.status-container {
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.1);
}

.log {
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}
